html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.stage {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.stage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* 追加 */
}


.overlay {
  background:
    radial-gradient(circle at center, rgba(0,0,0,.08), rgba(0,0,0,.7)),
    linear-gradient(to right,
      rgba(0,0,0,.35),
      rgba(0,0,0,.15) 30%,
      rgba(0,0,0,.15) 70%,
      rgba(0,0,0,.35)
    );
}


.core {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.core img {
  height: 100vh;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .core img {
    height: 90vh;
  }
}

